<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <nav class="ps-top">
      <div class="ps-bar ps-white ps-padding ps-card ps-nav">
        <a href="#home" class="ps-bar-item ps-button">Pimienta & Sal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="ps-right ps-hide-small">
          <a href="#about" class="ps-bar-item ps-button">About</a>
          <a href="#menu" class="ps-bar-item ps-button">Menu</a>
          <a href="/products/list" class="ps-bar-item ps-button">Listado</a>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="ps-display-container ps-content ps-wide" id="home">
      <div class="ps-display-bottomleft ps-padding-large ps-opacity">
        <h1 class="ps-xxlarge">Sabores que enamoran</h1>
      </div>
    </header>

    <!-- Page content -->
    <div class="ps-content">

      <article>
        <div class="img-container">
          <img src="/img/principal.jpg" class="img-dish" alt="img-dish">
        </div>
        <p>informacion del plato:  </p>
        <ul>
          <li>
              Nombre: <%= product.name %>
          </li>
          <li>
              Descripcion: <%= product.description %> 
          </li>
          <li>
              Precio: <%= product.price %> 
          </li>
        </ul>
      </article>

      <!-- Footer -->
      <footer class="ps-center ps-light-grey ps-padding-32">
        <p>Powered by Pimienta & Sal</p>
      </footer>
    </div>
  </body>
</html>
